PORT=3005
POSTGRES_URL=postgres://driver_user:driver_pass@postgres:5432/driver_db
REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_BROKER=kafka:29092
JWT_SECRET=secret_key
SERVICE_JWT_SECRET=ride-service
INTERNAL_JWT_SECRET=api-gateway
ASSIGNMENT_TTL_SECONDS=120
