PORT=3000
INTERNAL_JWT_SECRET=api-gateway
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3002
PRICING_SERVICE_URL=http://pricing-service:3003
BOOKING_SERVICE_URL=http://booking-service:3004
DRIVER_SERVICE_URL=http://driver-service:3005
PAYMENT_SERVICE_URL=http://payment-service:3006
RIDE_SERVICE_URL=http://ride-service:3007
NOTIFICATION_SERVICE_URL=http://notification-service:3008
REVIEW_SERVICE_URL=http://review-service:3009
AI_SERVICE_URL=http://ai-matching-service:3010
